<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Product App</title>
    <link rel="stylesheet" href="./css/main.css" />
  </head>

  <body>
    <div class="nav-bar"></div>

    <div id="app">
      <div class="product-image">
        <img v-bind:src="image" alt="">
      </div>

      <div class="product-info">
        <h1>{{ product }}</h1>
        <p v-show="inStock">In Stock</p>
        <p v-else>Out of sale</p>

        <ul>
          <li v-for="detail in details">{{ detail }}</li>
        </ul>

        <div v-for="variant in variants" 
            :key="variant.variantId"
            class="color-box"
            :style="{ background: variant.variantColor }"
            @mouseover="updateProduct(variant.variantImage)">
        </div>>
            
        <button v-on:click="addToCart" >Add To Cart</button>
        <button @click="remove">Remove</button>

        <div class="cart">
          <p>Cart({{ cart }})</p>
        </div>
      </div>
      
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/main.js"></script>
  </body>
</html>
